#jPDFmelage properties file
#Sun Jul 19 15:49:36 CEST 2009
prefCenterWindow=false
prefHideToolbar=false
LocaleCountry=
prefFitWindow=true
LocaleVariant=
LocaleLanguage=de
IconHeight=70
enablePDFPreferences=true
prefPageLayout=PAGE_LAYOUT_TWO_COLUMN_LEFT
prefPageMode=PAGE_MODE_USE_NONE
prefDisplayDocTitle=false
prefHideWindowUI=false
prefHideMenubar=true
ShowButtonsPanel=false
ImageScalingAlgorithm=4
